<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="https://bamos.github.io/atom.xml" />

  <link href="https://bamos.github.io/vendor/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  <link href="https://bamos.github.io/vendor/css/academicons.min.css" rel="stylesheet">
  <link href="https://bamos.github.io/vendor/pygments/default.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap" rel="stylesheet">
  <link href="https://bamos.github.io/css/bamos.css" rel="stylesheet">
  <link href="https://bamos.github.io/css/sharingbuttons.css" rel="stylesheet">
  <script src="https://bamos.github.io/vendor/js/jquery.min.js"></script>
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="navbar-header">
                  <div class='navbar-brand'>
                    <!--<a href='/images/me.jpg'><img src="https://bamos.github.io/images/me-face.jpg" class="img-circle"></img></a>-->
                    <a href="https://bamos.github.io/" style="text-decoration: none; position: relative; top: 2px;">Brandon Amos</a>
                    <span class="navbar-icons">
                      <a href="#" id="email-link" title="Email" style="margin-left: 15px;">
                        <i class="fa fa-envelope"></i></a>
                      <a href="http://github.com/bamos" target="_blank" title="GitHub" style="margin-left: 15px;">
                        <i class="fa fa-github"></i></a>
                      <a href="https://scholar.google.com/citations?user=d8gdZR4AAAAJ" target="_blank" title="Google Scholar" style="margin-left: 11px;">
                        <i class="ai ai-google-scholar"></i></a>
                    </span>
                  </div>
						<button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target="#navbar-main">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse" id="navbar-main">
						<ul class="nav navbar-nav">
							<li>
								<a href="https://bamos.github.io/cv.pdf" target="_blank" style="position: relative; top: 2px;">CV</a>
							</li>
							<li>
								<a href="https://bamos.github.io/presentations/" style="position: relative; top: 2px;">Presentations</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{{ content }}

  <script src="https://bamos.github.io/js/sp.js"></script>
  <script src="https://bamos.github.io/vendor/js/bootstrap.js"></script>
  <script src="https://bamos.github.io/vendor/js/anchor.min.js"></script>
  <script src="https://bamos.github.io/vendor/js/jquery.toc.js"></script>
  <script type="text/javascript">
   // Email obfuscation - hex encoded
   (function() {
     var hex = "6272616e646f6e2e616d6f732e637340676d61696c2e636f6d";
     var email = hex.match(/.{1,2}/g).map(function(byte) {
       return String.fromCharCode(parseInt(byte, 16));
     }).join('');
     $('#email-link').attr('href', 'mailto:' + email);
   })();

   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-102191838-1', 'auto');
   ga('send', 'pageview');
  </script>
</body>
</html>
